body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.card,
.exibir {
  width: 100%; /* Alterado para ocupar 100% da largura */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px; /* Aumentado o espaçamento inferior */
}

.card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card input,
.card button {
  width: 100%; /* Ocupa toda a largura do pai */
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.card button {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  max-width: 200px;
  transition: background-color 0.3s; /* Adicionada uma transição suave */
}

.card button:hover {
  background-color: #0056b3;
}

.alert {
  color: red;
  margin-top: 10px;
}

.result {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image video {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  #image video {
    width: 90%;
    height: auto;
  }
}
